server:
  port: ${SERVER_PORT:8081}

spring:
  profiles:
    active: ${PROFILE:default}
  application:
    name: ${APP_NAME:user-service-api}

  datasource:
    url: ${DATABASE_URL:jdbc:postgresql://localhost:5432/user-db}
    username: ${DATABASE_USERNAME:citizen}
    password: ${DATABASE_PASSWORD:root}
    driver-class-name: ${DATABASE_DRIVER:org.postgresql.Driver}

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.xml

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: ${SHOW_SQL:false}

  redis:
    host: 0.0.0.0
    connect-timeout: 2000

  cache:
    redis:
      time-to-live: 100000

  data:
    redis:
      repositories:
        enabled: false


logging:
  level:
    org.springframework.web: ERROR
    com.citizen.userserviceapi: ${LOGGING_LEVEL:DEBUG}
  pattern:
    console: ${LOGGING_PATTERN:%d{yyyy-MM-dd HH:mm:ss} - %msg%n}

feign:
  metrics:
    enabled: true
  client:
    config:
      default:
        logger-level: basic

swagger:
  contact:
    name: ${SWAGGER_CONTACT_NANE:Evstratov Dmitry}
    email: ${SWAGGER_CONTACT_EMAIL:www.shepard1992@gmail.com}
  info:
    title: ${SWAGGER_INFO_TITLE:USER SERVICE API}
    version: ${SWAGGER_INFO_VERSION:1.0}
    description: ${SWAGGER_INFO_DESCRIPTION:This API exposes endpoints for manage users.}
  servers:
    local:
      url: ${SWAGGER_SERVER_LOCAL_URL:http://localhost:8081}
      description: ${SWAGGER_SERVER_LOCAL_DESCRIPTION:Server URL in Local environment}

management:
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      exposure:
        include: health,info,env,beans

client:
  dog-service-api-url: ${DOG_SERVICE:dog-service-api}